.navItem {
  width: fit-content;
  height: 2rem;
  color: white;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.navItem:hover {
  background-color: rgba(39, 39, 39, 0.623);
  border-radius: 2rem;
  cursor: pointer;
}

.icon {
  font-size: 1.75rem;
  padding-right: 1rem;
}