.navItem {
  width: fit-content;
  height: 2rem;
  color: white;
  margin: 0.1rem 0.5rem;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  font-size: 1.25rem;
  transition: 0.3s;
}

.navItem:first-child {
  margin-top: 0;
}

.navItem:hover {
  background-color: rgba(39, 39, 39, 0.623);
  cursor: pointer;
}

.navItem span {
  padding-left: 1rem;
}

.icon {
  font-size: 1.75rem;
}

@media only screen and (max-width: 1100px) {
  .navItem span {
    display: none;
  }
}