.avatar {
  width: 10%;
  height: auto;
  margin: 1rem;
  margin-right: 0;
}

.tweetBox {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0.5rem 0;
}

.tweetInfo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.tweetInfo-inner {
  display: flex;
  gap: 0.25rem;
}

.light-size {
  font-weight: lighter;
}

.text-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.moreIcon-container {
  width: 10%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.tweetBox-body {
  width: 100%;
  height: fit-content;
  padding: 0 0.5rem 1rem 0;
}

.tweetBox-body p {
  word-break: break-all;
}

.interactionBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.interactionBar-icon {
  color: #535353;
  font-size: 1rem;
}

.independent-icons {
  display: flex;
}

.interaction-bar__item {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.interaction-bar__item div:last-child span {
  font-size: 0.75rem;
  color: gray;
}

.interaction-bar__item:hover .blue {
  background-color: #0c3e5f5e;
}

.interaction-bar__item:hover .blueItem {
  color: #1d9bf0;
}

.interaction-bar__item:hover .green {
  background-color: #047a2b1c;
}

.interaction-bar__item:hover .greenItem {
  color: #31be6c;
}
.interaction-bar__item:hover .purple {
  background-color: #b6537c54;
}

.interaction-bar__item:hover .purpleItem {
  color: #e62981;
}