.icons-area {
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.icons-area:hover {
  background-color: #0c3e5f5e;
  cursor: pointer;
}

.icons {
  color: #1d9bf0;
  font-size: 1.25rem;
}