.tweetBody {
  width: 90%;
  height: 100%;
}

.avatar {
  width: 10%;
  height: auto;
  margin: 1rem;
  margin-right: 0;
}

.body {
  padding: 1rem 0 0.5rem;
  margin-top: 0.5rem;
}

.body textarea {
  width: 95%;
  font: inherit;
  font-size: large;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}

.attachBar {
  display: flex;
  align-items: center;
}

.attachment {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

.postBtn {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1000px) {
  .attachment-icons-area {
    padding: 0.25rem;
  }
}