.card, .backdrop {
  width: inherit;
  height: fit-content;
  border: 1px solid #5a5a5a96;
  border-top: none;
  display: flex;
}

.backdrop {
  transition: 0.3s;
}

.backdrop:hover {
  cursor: pointer;
  background-color: #2b2b2b31;
}
