.twitBody {
  width: 90%;
  height: 100%;
}

.avatar {
  width: 10%;
  height: auto;
  margin: 1rem;
}

.body {
  padding: 1rem 0 0.5rem;
  margin-top: 0.5rem;
}

.body textarea {
  width: 95%;
  font: inherit;
  font-size: large;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}

.attachBar {
  display: flex;
  align-items: center;
}

.attachment {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

.attachment-icons-area {
  max-width: 10%;
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.attachment-icons-area:hover {
  background-color: #0c3e5f5e;
  cursor: pointer;
}

.attachment-icons {
  color: #1d9bf0;
  font-size: 1.25rem;
}

.postBtn {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1000px) {
  .attachment-icons-area {
    padding: 0.25rem;
  }
}