.button {
  font: inherit;
  font-size: 1rem;
  background-color: #1d9bf0;
  color: white;
  text-align: center;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 2rem;
  cursor: pointer;
  margin: 0.5rem;
  margin-left: 0;
  padding: 0.25rem 1rem;
  transition: 0.3s;
}

.small {
  width: fit-content;
  height: fit-content;
  font-size: 0.9rem;
}

.middle {
  width: fit-content;
  height: fit-content;
}

.big {
  width: 90%;
  height: 3rem;
}

.white {
  color: black;
}

.black {
  background-color: white;
}

.disable {
  background-color: rgb(29, 155, 240);
  opacity: 0.5;
  pointer-events: none;
}

.button:hover,
.button:active {
  opacity: 0.8;
}